@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
            </p>
        </div>
    </section>
}
<h3>Explore our Website:</h3>
<ol class="round">
    <li class="one">
        <h5>Getting Started</h5>
        This site is a ASP.NET MVC Shopping cart application 
    </li>

    <li class="two">
        <h5>Click our Shop tab to view our products</h5>
       The shopping facility we offer is dynamic; you can add the products to the cart and check out securely.
    </li>

    <li class="three">
        <h5>Contact Us</h5>
        You can contact us via email, mail or phone . Please see our contact us page for further details.
        <a href="http://localhost:50486/Home/Contact">Click to find our contact details</a>
    </li>
</ol>
