@model IList<StepsShoppingCart.Models.ProductViewModel>

@{
    ViewBag.Title = "Shop";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
            </p>
        </div>
    </section>
}

<hgroup class="title">
  
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        Welcome to our Richie Creative Supermarket
</p>
    <p>

At Richie Creative  Supermarket we offer a wide range of quality products at very low cost.
        
    </p>

</article>

